<template>
  <div id="main">
    <Nav />
    <div class="container">
        <div class="card-body">
          <h3 class="card-title text-left">The Pups</h3>
          <div class="pupper-container">
          <Pupper v-for="pups in puppers"
            :key="pups.ID"
            :id="pups.ID" 
            :name="pups.name"
            :url="pups.url"
            :rating="pups.rating"
            :numRating="pups.num_ratings"/>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
import Nav from '@/layout/Nav.vue'
import Pupper from '@/components/Pupper.vue'
import {getPuppers} from '@/api/api'
export default {
  components: {
    Nav,
    Pupper
  },
  data() {
    return {
      puppers: []
    }
  },
  async mounted() {
    this.puppers = (await getPuppers()).sort((lhs, rhs) => 
      {return lhs.num_ratings < rhs.num_ratings});
  }
}
</script>

<style scoped>
h3 {
  margin-left: 0em;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.container {
  padding-top: 2em;
}

.pupper-container {
  display: flex;
  flex-flow: wrap;
}
</style>
