<template>
    <div class="pupper">
        <div class="card" :class="{'shadow-lg': hover}" @mouseenter="hover = true" @mouseleave="hover = false">
            <div class="card-body">
                <img class="card-img-top" :src="url ? url : null" />
                <div class="pupper-content">
                    <p class="card-text"><span class="font-weight-bold">name:</span> {{name}}</p>
                    <p class="card-text"><span class="font-weight-bold">rating:</span> {{rating | truncate}}</p>
                    <StarRating :increment=0.5 :fixed-points=1 :star-size=25 @rating-selected="updateRating" :rating="rating"/>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import StarRating from 'vue-star-rating';
import { ratePupper} from '@/api/api'
export default {
    components: {
        StarRating
    },
    props: {
        id: Number,
        url: String,
        name: String,
        rating: Number,
        numRating: Number
    },
    data() {
        return {
            hover: false,
            rated: false
        }
    },
    filters: {
        truncate: (value) => {
            return value.toFixed(2);
        }
    },
    methods: {
        async updateRating(rating) {
            if (this.rated) return;
            this.rated = true;

            // prevent / 0 error
            if (this.numRating == 0) {
                this.rating = rating;
                this.numRating = 1;
            }
            else {
                // rolling average
                this.numRating++;
                this.rating = (this.rating - (this.rating / this.numRating))
                + (rating / this.numRating);
            }
            await ratePupper(this.id, rating);
        }
    }
}
</script>
<style scoped>
.pupper {
    min-width: 25vw;
    min-height: 20vh;
    margin-left: 0;
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

@media screen and (max-width: 1000px) {
    .pupper {
        width: 80%;
    }

    .card, .card-body {
        width: 100%;
    }

    .card {
        display: flex;
        justify-content: left;
    }
}

.card {
    width: 100%;
    height: 100%;
}

.card-body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

img {
    width: 100px;
    height: 100px;
    margin-right: 0.5em;
}

.card-text {
    text-align: left;
    margin: 0;
    margin-bottom: 0.5em;
}

.pupper-content {
    display: flex;
    flex-direction: column;
}
</style>